$text_shadow: rgb(27, 18, 18);
$portfolio_fontsize_h730: clamp(.45rem, 2.5vw, .55rem);
$portfolio_fontsize_h_rest: clamp(.5rem, 2.5vw, .6rem);
$portfolio_fontsize_h_rest_alt: clamp(0.5rem, .5vw, 0.6rem);
$portfolio_fontsize: clamp(.52rem, 2.5vw, .72rem);
$tech_height: 2rem;

html {
    scrollbar-color: rgb(113, 121, 126) rgb(61, 65, 75);
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    background: rgb(61, 65, 75);
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(113, 121, 126);
    border-radius: 5px;
}

/*   html::-webkit-scrollbar-track {
    background: black;
  } */

body {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    //transition: background 2s;
    background-attachment: fixed;
    background-image: repeating-linear-gradient(to left bottom, #181818, #1a1a1c, #1d1c21, #1f1e25, #21202a, #21202a, #21202a, #21202a, #1f1e25, #1d1c21, #1a1a1c, #181818);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    letter-spacing: 1px;
    overflow: hidden;
    text-shadow: -1px 1px 0 $text_shadow,
        1px 1px 0 $text_shadow,
        1px -1px 0 $text_shadow,
        -1px -1px 0 $text_shadow;
}

////////

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main,
div {
    box-sizing: border-box;
    color: white;
    font-family: 'JetBrains Mono', 'Roboto', sans-serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'JetBrains Mono', 'Roboto', sans-serif;
}


//--------------------------//

h1 {
    font-size: clamp(1.8rem, 2.5vw, 1.9rem);
    font-weight: 800;
}

h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.45rem);
    font-weight: 600;
}

h3 {
    font-size: clamp(.90rem, 2.5vw, 1rem);
    font-weight: 600;
}

//--------------------------//

header {
    animation: header 1s steps(40) 9.5s 1 normal forwards;
    display: flex;
    opacity: 0%;
    position: sticky;
    z-index: 99;

    button {
        color: white;
        cursor: default;
        font-size: clamp(0.55rem, 1.5vw, 0.8rem);
    }

    span:first-of-type {
        animation: none;
        cursor: default;
    }

    @media (max-height:400px) {
        scale: 0.85;
    }
}

.nownohover img {
    border-bottom: 1px solid;
    cursor: default;
    filter: grayscale(60%);
    height: 15px;
    object-fit: contain;
    padding-bottom: 4px;
    position: relative;
    top: 6px;
    width: 25px;
}

.nowhover img {
    animation: cursor 1ms 11s 1 normal forwards;
    border-bottom: 0px;
    cursor: pointer;
    filter: grayscale(85%);
    height: 20px;
    top: 4.5px;
    position: relative;
    object-fit: contain;
    width: 20px;
}

.nowhover img:hover {
    filter: grayscale(65%);
    height: 20px;
    object-fit: contain;
    width: 25px;
}


@keyframes header {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes cursor {
    0% {
        cursor: default;
    }

    100% {
        cursor: pointer;
    }
}

//--------------------------//

/* .content_section {
    background-color: transparent !important;
    height: fit-content !important;
} */

//--------------------------//

.loader {
    animation: loader 3s steps(40) 3 normal both;
    font-size: clamp(1.25rem, 2.5vw, 1.45rem);
    font-weight: 600;
    opacity: 0%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loader {
    0% {
        width: 0rem;
    }

    1% {
        opacity: 1%;
    }

    50% {
        opacity: 40%;
        width: 5rem;
    }

    100% {
        opacity: 80%;
        width: 10rem;
    }
}

.content_name {
    height: 30vh;
    position: absolute;
    margin-block: -3rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-height:400px) {
        transform: translate(-50%, -50%);
        scale: 0.85;
    }
}

.name_gr,
.name_eng {
    animation: typewriter 2.5s steps(40) 0.5s 1 normal forwards,
        blinktext 0ms steps(2) 6 normal forwards;
    border-right: 1px solid white;
    overflow: hidden;
    white-space: nowrap;
    width: 0rem;

    @media (max-height:400px) {
        transform: translate(-5%, 55%);
    }
}

.job_gr,
.job_eng {
    animation: typewriter_job 2.5s steps(40) 3s 1 normal forwards,
        blinktext 800ms steps(40) 3.5s 3 normal forwards;
    border-right: 0;
    opacity: 0%;
    overflow: hidden;
    white-space: nowrap;
    width: 0rem;

    @media (max-height:400px) {
        transform: translate(-8%, 45%);
    }
}

.job_gr,
.job_eng {
    margin: 0 auto;
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    50% {
        width: 6em;
    }

    100% {
        width: 11em;
    }
}

@keyframes typewriter_job {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
        opacity: 100%;
    }

    50% {
        border-right: 1px solid white;
        opacity: 100%;
        width: 4em;
    }

    100% {
        border-right: 1px solid white;
        opacity: 100%;
        width: 9em;
    }
}

@keyframes blinktext {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

//--------------------------//

.anime_stop {
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    position: absolute;
    scale: 0.6;
    top: 0;
    left: 50%;
    transform: translate(-75%, 0%);
    height: 13ch;
    width: 13ch;

    @media (max-height: 400px) {
        scale: 0.55;
        transform: translate(-65%, -10vh);
    }
}

//--------------------------//

.content_skills {
    animation: fade_in 2s 1 ease-in-out forwards;
    transform: translate(-36vw, 10vh);
    display: grid;
    font-size: clamp(.5rem, 2.5vw, 0.6rem);
    grid-column-gap: 4vw;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, 17vw);
    grid-template-rows: 1fr;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        border-right: 1px dashed;
        height: fit-content;
        margin-block: 1.5rem;
        width: 24ch;
        white-space: pre-line;
    }

    h3 {
        width: 16ch;
    }

    div {
        margin-bottom: 4rem;
    }

    @media (max-width: 480px) {
        //grid-template-columns: 23vw 27vw 26vw 10vw;
        font-size: clamp(.4rem, 2vw, .5rem);
        grid-column-gap: 20vw;
        transform: translate(-82%, -80%);
        scale: 0.65;

        p {
            width: 25ch;
        }

        h3 {
            font-size: clamp(.8rem, 2.5vw, .9rem);
        }
    }

    @media (max-width: 600px) and (min-width: 480px) {
        //grid-template-columns: 23vw 27vw 26vw 10vw;
        font-size: clamp(.4rem, 2.5vw, .5rem);
        grid-column-gap: 10vw;
        transform: translate(-58%, -55%);
        scale: 0.9;

        h3 {
            font-size: clamp(.8rem, 2.5vw, .9rem);
        }
    }

    @media (min-width: 600px) and (max-width: 800px) {
        // grid-template-columns: 27vw 25vw 23vw 10vw;
        transform: translate(-55%, -55%);
        grid-column-gap: 8vw;
        scale: 0.92;

        h3 {
            font-size: clamp(.85rem, 2.5vw, .95rem);
        }
    }


    @media (min-width: 800px) and (max-width: 1000px) {
        font-size: clamp(.5rem, 2.5vw, 0.7rem);
        //grid-template-columns: 17vw 22vw 20vw 8vw;

        h3 {
            font-size: clamp(.95rem, 2.5vw, 1.05rem);
        }


        p {
            font-size: clamp(.55rem, 2.5vw, .65rem);
        }
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        font-size: clamp(.5rem, 2.5vw, 0.7rem);
        //grid-template-columns: repeat(4,17vw);

        h3 {
            font-size: clamp(.95rem, 2.5vw, 1.1rem);
        }
    }

    @media (min-width: 1500px) and (max-width: 1800px) {
        font-size: clamp(.5rem, 2.5vw, 0.7rem);
        grid-template-columns: 15vw 18vw 12vw 6vw;
        grid-column-gap: 6vw;

        h3 {
            font-size: clamp(1rem, 2.5vw, 1.2rem);
            padding-right: 1rem;
        }
    }

    @media (min-width: 1800px) {
        font-size: clamp(.5rem, 2.5vw, 0.7rem);
        grid-template-columns: 12vw 15vw 10vw 5vw;
        grid-column-gap: 7vw;

        h3 {
            font-size: clamp(1rem, 2.5vw, 1.2rem);
            padding-right: 1rem;
        }

        p {
            font-size: clamp(.65rem, 2.5vw, .75rem);
        }
    }

    //

    /*  @media (min-height: 420px) and (max-height: 600px) {
        transform: translate(-49%, -1%);
    } */

    @media (max-height: 420px) {
        //transform: translate(-49%, 0%);

        p:not(#frontend p, #wordp p) {
            margin-block: 0.9rem;
        }
    }
}

.fade_out {
    transition: opacity 0.3s ease-in;
}


@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* #backend p:first-of-type,
#frontend p:first-of-type, 
#wordp p {
    height: 4vh;
}*/

//--------------------------//

.content_portfolio {
    animation: fade_in 2s 1 ease-in-out forwards;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: 20vw;

    div {
        margin-right: 1rem;
    }

    img {
        border-radius: 30px;
        box-shadow: 8px 14px 10px rgba(0, 0, 0, 0.3);
        height: 130px;
        object-fit: fill;
        margin-right: 1rem;
        margin-bottom: 2rem;
        width: 170px;
    }

    @media (max-width: 600px) {
        scale: 0.9;
        margin-top: -3rem;
        margin-bottom: 1rem;
        left: 2rem;
        text-rendering: optimizeLegibility;
        width: 90vw;
    }

    @media (min-width: 600px) and (max-width: 800px) {
        margin-top: -1rem;
        margin-bottom: 8rem;
        left: 7rem;
        text-rendering: optimizeLegibility;
        width: 70vw;
    }

    @media (min-width: 800px) and (max-width: 1000px) {
        margin-top: 4rem;
        margin-bottom: 10rem;
        left: 8rem;
        scale: 1.2;
        width: 74vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 1000px) and (max-width: 1240px) {
        margin-top: 3rem;
        margin-bottom: 10rem;
        scale: 1.2;
        width: 62vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 1240px) and (max-width: 1409px) {
        margin-top: 2rem;
        scale: 1.2;
        width: 75vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 1409px) and (max-width: 1680px) {
        margin-bottom: 12rem;
        margin-top: 6rem;
        scale: 1.4;
        width: 60vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 1680px) and (max-width: 1910px) {
        margin-bottom: 12rem;
        margin-top: 3rem;
        scale: 1.4;
        width: 61vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 1910px) and (max-width: 2250px) {
        margin-bottom: 12rem;
        margin-top: 3rem;
        scale: 1.4;
        width: 53vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @media (min-width: 2250px) {
        margin-bottom: 12rem;
        margin-top: 3rem;
        scale: 1.4;
        width: 45vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.description_div {
    text-align: center;
    cursor: default;
    font-size: clamp(.62rem, 2.5vw, .82rem);
    z-index: 99;
}

.portfolio_img {
    cursor: pointer;
}

.overlay {
    opacity: 0;

    h2 {
        font-size: clamp(1.25rem, 2.5vw, 1.25rem);
    }

    p {
        font-size: clamp(.65rem, 2.5vw, .75rem);
    }

    a {
        color: white;
        text-decoration: none;
    }
}

#overlay_content {
    height: 90vh;
    align-items: center;

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 50%;
        width: auto;
        height: auto;
        top: 16%;
        transform: translateY(-38%);
    }

    p:not(.overlay_skillz) {
        scale: 0.9;
        top: 2vh;
        transform: translateY(0);
        align-self: center;
    }

    button {
        scale: 0.9;
    }

    @media (min-width: 1098px) {
        p:not(.overlay_skillz) {
            scale: 1;
            width: 90ch;
        }
    }

    @media (max-width: 600px) and (min-width: 400px) {
        img {
            transform: translateY(-17vh);
        }

        p:not(.overlay_skillz) {
            scale: 0.8 !important;
            transform: translateY(-3vh);
            text-align: left !important;
        }

        h2,
        button {
            scale: 0.7;
        }
    }


    @media (max-width: 400px) and (min-height: 630px) {
        h2 {
            scale: 0.7;
            white-space: nowrap;
            top: 1rem;
        }

        img {
            transform: translateY(-13vh);
        }

        p:not(.overlay_skillz) {
            transform: translateY(5vh);
            text-align: center !important;
            scale: 0.8;
            margin-left: 1rem;
            width: 38ch;
        }

        button {
            scale: 0.7;
        }
    }

    @media (max-width: 400px) and (min-height: 420px) and (max-height: 630px) {
        h2 {
            scale: 0.7;
            white-space: nowrap;
            top: 1rem;
        }

        img {
            transform: translateY(-40%);
        }

        p:not(.overlay_skillz) {
            transform: translateY(5vh);
            text-align: center !important;
            margin-left: 1rem;
            scale: 0.75;
            width: 39ch;
        }

        button {
            scale: 0.7;
        }
    }

    @media (max-width: 400px) and (max-height: 420px) {
        h2 {
            scale: 0.7;
            white-space: nowrap;
            top: 1rem;
        }

        img {
            transform: translateY(-35%);
        }

        p:not(.overlay_skillz) {
            transform: translateY(-10vh);
            text-align: center !important;
            scale: 0.7;
            width: 40ch;
        }

        button {
            scale: 0.7;
        }
    }

    @media (max-height: 500px) and (min-height: 390px) {

        img {
            transform: translateY(-15vh);
        }

        p:not(.overlay_skillz) {
            padding-bottom: 2rem;
            scale: 0.7;
            scrollbar-width: thin;
            transform: translateY(-9vh);
        }
    }


    @media (max-height: 390px) {

        h2 {
            transform: translateY(-5vh);
            scale: 0.6;
        }

        p:not(.overlay_skillz) {
            padding-bottom: 3rem;
            scale: 0.7 !important;
            transform: translateY(-18vh);
            scrollbar-width: thin;
        }

        img {
            transform: translateY(-20vh);
        }
    }
}

.overlay_skillz {
    scale: 0.8;
    text-align: center;
    width: 50vw;
    margin-bottom: 0;
    bottom: 0;

    @media (min-width: 1098px) {
        width: 30vw;
    }

    @media (min-height: 600px) {
        scale: 0.8;
        margin-left: 1rem;
        width: 42vw;
    }

    @media (max-height: 600px) {
        scale: 0.7;
        margin-left: 1rem;
    }

    @media (max-height: 450px) and (min-width:1831px) {
        background: linear-gradient(135deg, rgb(50, 54, 62), rgb(30, 32, 40));
        padding: 1.25rem 100%;
        scale: 0.65 !important;
        margin-bottom: -0.5rem;
        z-index: 98;
    }

    @media (max-height: 450px) and (min-width:557px) and (max-width:1831px) {
        background: linear-gradient(135deg, rgb(50, 54, 62), rgb(30, 32, 40));
        padding: 0.6rem 100%;
        scale: 0.65 !important;
        margin-bottom: -0.5rem;
        z-index: 98;
    }

    @media (max-height: 450px) and (min-width:500px) and (max-width:557px) {
        background: linear-gradient(135deg, rgb(50, 54, 62), rgb(30, 32, 40));
        padding: 0.3rem 100%;
        scale: 0.65 !important;
        margin-bottom: -0.5rem;
        z-index: 98;
    }

    @media (max-height: 450px) and (max-width:500px) {
        background: linear-gradient(135deg, rgb(50, 54, 62), rgb(30, 32, 40));
        padding: 0.2rem 100%;
        scale: 0.65 !important;
        margin-bottom: -0.5rem;
        width: 30ch;
        z-index: 98;
    }
}

.overlay.fade_in {
    animation: fade_in 0.5s ease-in forwards;
}

.overlay.fade_out {
    animation: fade_out 0.4s ease-out forwards;
}


.close_butt {
    @media (max-width: 400px) {
        top: -0.1rem !important;
    }

    @media (max-height: 450px) {
        right: -0.15rem !important;
        top: -0.25rem !important;
    }
}

.www {
    z-index: 99;

    @media (max-width: 400px) {
        margin-bottom: -0.1rem !important;
        scale: 0.7 !important;
        left: -1rem !important;
    }

    @media (max-height: 450px) {
        margin-bottom: -0.2rem !important;
        scale: 0.65 !important;
    }
}

.git {
    z-index: 99;
    margin-bottom: 0.2rem !important;

    @media (max-width: 400px) {
        margin-bottom: 0.1rem !important;
        scale: 0.7 !important;
        right: 0rem !important;
    }

    @media (max-height: 450px) {
        scale: 0.65 !important;
    }
}




/* .git:hover, */

.www:hover,
.git:hover,
.close_butt:hover {
    filter: brightness(0.85);
}

.www:active,
.git:active,
.close_butt:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.3);
    filter: brightness(0.6);
}

//-----------------------//

.content_contact {
    animation: fade_in 2s 1 ease-in-out forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;

    input {
        border-radius: 10px 17px;
        height: 3.5vh;
        padding-inline: 1rem;
        width: 80%;
    }

    textarea {
        border-radius: 10px;
        height: 30vh;
        margin-block: 2rem;
        padding: 0.5rem;
        width: 80%;
    }

    ::placeholder {
        font-size: clamp(.65rem, 2.5vw, .75rem);
    }

    button {
        background-color: rgb(113, 121, 126);
        border-radius: 10px;
        font-size: 0.7rem;
        padding: 8px;
        scale: 0.9;
    }

    button:hover {
        background-color: rgb(93, 101, 106);
        color: #161616;
    }

    p:last-of-type {
        margin-top: 4rem !important;
    }

    span {
        text-decoration: none;
        position: relative;
        top: 1rem;
    }

    @media (max-width: 400px) {
        scale: 0.9;
        transform: translate(-55%, -65%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        p:not(:last-of-type) {
            margin-left: 7rem !important;
            width: 45ch !important;
        }

    }

    @media (max-height: 550px) and (min-height:430px) {
        scale: 0.9;
        transform: translate(-55%, -50%);
        padding-bottom: 10rem !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        p:not(:last-of-type) {
            margin-left: 7rem !important;
            width: 45ch !important;
        }

        span {
            text-decoration: none;
            position: relative;
            top: 1rem;
        }

        textarea {
            margin-block: 0rem;
        }

        button {
            scale: 0.8;
        }
    }

    @media (max-height: 430px) {
        scale: 0.8;
        transform: translate(-63%, -45%);
        padding-bottom: 5rem !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        p:not(:last-of-type) {
            margin-bottom: 0rem !important;
            width: 45ch !important;
        }

        p:last-of-type {
            margin-top: 2rem !important;
        }

        textarea {
            margin-block: 0;

        }

        button {
            scale: 0.8;
        }
    }
}

input:user-invalid {
    color: red;
}

.submit_butt_anime {
    animation: submit 4s 1 linear;
    //transition: border-radius 0.6s linear;
}

.success_message {
    font-size: clamp(.65rem, 2.5vw, .75rem);
    margin-top: 2rem;

    @media (max-height: 435px) {

        .success_message {
            font-size: clamp(.55rem, 2.5vw, .65rem);
            margin-top: -8rem;
        }
    }
}

@keyframes submit {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

//--------------------------//

footer {
    animation: appear 1s steps(60) 1 3s normal forwards;
    align-items: center;
    background-color: rgba(18, 18, 24, 0.9);
    border-top: 2px dashed rgb(42, 42, 42);
    cursor: default;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 99;

    button {
        border-bottom: 1px dashed transparent;
        border-right: 0;
        color: #ffffff;
        font-size: clamp(0.6rem, 1vw, 0.6rem);
        text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px #000;
        overflow: hidden;
        opacity: 0%;
        white-space: nowrap;
        width: 0px;
    }

    span {
        cursor: default;
        display: inline-flex;
        font-size: clamp(0.6rem, 1vw, 0.6rem);
        overflow: hidden;
        white-space: nowrap;
        width: 0rem;
    }

    nav {
        position: relative;
        white-space: nowrap;
        left: 2%;
    }

    @media (max-width: 350px) {

        button,
        span {
            font-size: clamp(0.5rem, 1vw, 0.5rem);
        }
    }
}

.home {
    animation: typewriter_home 1.5s steps(40) 3.5s 1 normal forwards,
        blinktext 0ms steps(2) 6s 4 normal forwards,
        //blinktext_none 150ms steps(60) 1 9s normal forwards,
        appear 150ms steps(60) 1 3.55s normal forwards;
}

.knowledge {
    animation: typewriter_knowledge 1.5s steps(40) 5s 1 normal forwards,
        blinktext 0ms steps(2) 7.5s 2 normal forwards,
        //blinktext_none 150ms steps(60) 1 10.5s normal forwards,
        appear 150ms steps(60) 1 5.05s normal forwards;
}

.portfolio {
    animation: typewriter_portfolio 2.5s steps(40) 5.5s 1 normal forwards,
        blinktext 0ms steps(2) 8s 2 normal forwards,
        //blinktext_none 150ms steps(60) 1 11s normal forwards,
        appear 150ms steps(60) 1 5.55s normal forwards;
}

.contact {
    animation: typewriter_contact 1.5s steps(40) 7s 1 normal forwards,
        blinktext 700ms steps(40) 9.5s infinite normal forwards,
        //blinktext_none 150ms steps(60) 1 11.5s normal forwards,
        appear 150ms steps(60) 1 7.05s normal forwards;
}

.home_eng {
    animation: typewriter_home_eng 1.5s steps(40) 3.5s 1 normal forwards,
        blinktext 0ms steps(2) 6s 4 normal forwards,
        //blinktext_none 150ms steps(60) 1 7s normal forwards,
        appear 150ms steps(60) 1 3.55s normal forwards;
}

.knowledge_eng {
    animation: typewriter_knowledge_eng 1.5s steps(40) 5s 1 normal forwards,
        blinktext 0ms steps(2) 7.5s 2 normal forwards,
        //blinktext_none 150ms steps(60) 1 8.5s normal forwards,
        appear 150ms steps(60) 1 5.05s normal forwards;
}

.portfolio_eng {
    animation: typewriter_portfolio_eng 1.5s steps(40) 5.5s 1 normal forwards,
        blinktext 0ms steps(2) 8s 2 normal forwards,
        //blinktext_none 150ms steps(60) 1 9s normal forwards,
        appear 150ms steps(60) 1 5.55s normal forwards;
}

.contact_eng {
    animation: typewriter_contact_eng 1.5s steps(40) 7s 1 normal forwards,
        blinktext 0ms steps(2) 9.5s infinite normal forwards,
        //blinktext_none 150ms steps(60) 1 9.5s normal forwards,
        appear 150ms steps(60) 1 7.05s normal forwards;
}

footer span {
    animation: typewriter_span 1s steps(40) 8.5s 1 normal forwards,
        blinktext 0ms steps(2) 9s 3 normal forwards,
        // blinktext_none 150ms steps(60) 1 1s normal forwards;
}

.home,
.home_eng,
.knowledge,
.knowledge_eng,
.portfolio,
.portfolio_eng,
.contact,
.contact_eng {
    cursor: default;
}

.home:hover,
.home_eng:hover,
.knowledge:hover,
.knowledge_eng:hover,
.portfolio:hover,
.portfolio_eng:hover,
.contact:hover,
.contact_eng:hover {
    border-bottom: 1px dashed;
}



@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        cursor: pointer;
        opacity: 100%;
    }

}

@keyframes typewriter_home {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 1em;
    }

    100% {
        border-right: 1px solid white;
        width: 3em;
    }
}

@keyframes typewriter_knowledge {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 3.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 7em;
    }
}

@keyframes typewriter_portfolio {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 6.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 13em;
    }
}

@keyframes typewriter_contact {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 4.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 9.1em;
    }
}

@keyframes typewriter_home_eng {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 1em;
    }

    100% {
        border-right: 1px solid white;
        width: 3em;
    }
}

@keyframes typewriter_knowledge_eng {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 4.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 8.5em;
    }
}

@keyframes typewriter_portfolio_eng {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 4.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 8.5em;
    }
}

@keyframes typewriter_contact_eng {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 4em;
    }

    100% {
        border-right: 1px solid white;
        width: 8em;
    }
}

@keyframes typewriter_span {
    0% {
        width: 0;
    }

    1% {
        border-right: 1px solid white;
    }

    50% {
        border-right: 1px solid white;
        width: 0.5em;
    }

    100% {
        border-right: 1px solid white;
        width: 1.5em;
    }
}


//--------------------------//

@media (hover: none),
(pointer: coarse) {
    /*    @supports (-moz-appearance:none) { */

    html,
    main {
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-attachment: fixed;
        background-image: repeating-linear-gradient(to left bottom, #181818, #1a1a1c, #1d1c21, #1f1e25, #21202a, #21202a, #21202a, #21202a, #1f1e25, #1d1c21, #1a1a1c, #181818);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        background-image: none !important;
        background-color: transparent !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        //height: 0%;
    }

    .content_skills {
        overflow: hidden !important;
        scale: 0.8 !important;
        transform: translate(-50%, -50%) !important;
        height: 100%;
        width: 100%;
    }

    #wordp {
        position: absolute !important;
        top: 20rem !important;
    }

    #tools {
        position: absolute !important;
        top: 20rem !important;
        left: 8.5rem !important;
    }

    .description_div {
        opacity: 1 !important;
    }

    .content_contact {
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-55%, -10%) !important;
    }


    /*
        header {
            background-image: none !important;
            background-color: transparent !important;
            top: 0;
            height: 0rem;
            position: fixed;
            width: 100%;
            padding-right: 5rem !important;
        }

        footer {
            height: 4rem !important;
            top: auto !important;
            bottom: 0 !important;
            position: fixed !important;
            width: 100%;
        }

        .content_skills {
            top: -0.8rem !important;
            font-size: clamp(.3rem, 2vw, .6rem);
            height: fit-content !important;
            padding-right: 0;
            left: -0.6rem !important;
            width: fit-content !important;
        }

        .content_contact {
            height: fit-content !important;
        }

        .contact_desc {
            font-size: clamp(.5rem, 2.5vw, .6rem) !important;
        }

        .content_portfolio {
            height: fit-content !important;
            margin: 0 auto;
            //left: 0rem !important;
            position: relative;
            top: -2rem !important;
            transform: scale(0.8);
            width: 125vw !important;
        }

        .content_contact {
            bottom: 1rem !important;
            position: relative !important;
        }


        .email_form,
        .msg_form {
            color: white !important;
            //background-color: white !important;
            width: 15rem !important;
        }*/
}

/* } */