body {
    background: rgb(10, 10, 10);
    background: linear-gradient(70deg, rgba(15, 15, 15, 1) -5%, rgba(26, 26, 26, 1) 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

main,
div {
    box-sizing: border-box;
    color: white;
    font-family: 'JetBrains Mono', 'Roboto', sans-serif;
}

button {
    background-color: transparent;
    border: none;
    font-family: 'JetBrains Mono', 'Roboto', sans-serif;
}

//--------------------------//

h1 {
    font-size: clamp(1.8rem, 2.5vw, 1.9rem);
}

h2 {
    font-size: clamp(1.25rem, 2.5vw, 1.45rem);
}

//--------------------------//

header {
    bottom: 95vh;
    display: flex;
    left: 10px;
    position: absolute;

    button {
        color: white;
        font-size: clamp(0.55rem, 1.5vw, 0.8rem);
    }

    button img {
        filter: contrast(60%);
        height: 12px;
        width: 22px;
    }

}

//--------------------------//

section {
    display: flex;
    position: absolute;
    position: relative;
    text-align: center;
    top: 30vh;
}

//--------------------------//

footer {
    align-items: center;
    display: flex;
    font-size: clamp(0.75rem, .5vw, 0.8rem);
    position: absolute;
    top: 95vh;

    button {
        color: white;
        font-size: clamp(0.55rem, 1.5vw, 0.8rem);
    }

}